appnope
asttokens
black
Brotli
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
docker-pycreds==0.4.0
exceptiongroup
executing
fonttools
gitdb==4.0.12
GitPython==3.1.44
idna
importlib_metadata
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0
munkres==1.1.4
mypy_extensions
nest_asyncio
numpy
packaging
parso
pathspec
pathtools==0.1.2
pexpect
pickleshare
pillow
platformdirs
pooch
promise==2.3
prompt_toolkit
protobuf==3.20.3
psutil
ptyprocess==0.7.0
pure_eval
Pygments
pyparsing
PySocks
python-dateutil
pytorch-model-summary
PyYAML==6.0.2
pyzmq
requests
scikit-learn
scipy
sentry-sdk==2.20.0
setproctitle==1.3.4
shortuuid==1.0.13
six
smmap==5.0.2
stack_data
threadpoolctl
tomli
torch==1.12.0
torch-summary==1.4.5
torchvision==0.13.0
tornado
tqdm
traitlets
typing_extensions
unicodedata2
urllib3
wandb==0.12.21
wcwidth
zipp
